<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="/assets/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    {% block assets %}{% endblock %}

    <title>{% block title %}PAGE_TITLE{% endblock %}</title>
</head>
<body>

{% include "navbar.twig" %}

<div class="container">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
